<div class="outer-container">
    <div class="container-footer">
        <div class="social-icons">
            <div class="social-icon">
                <img src="./assets/facebook.png" alt="facebook">
            </div>
            <div class="social-icon">
                <img src="./assets/instagram.png" alt="Instagram">
            </div>
            <div class="social-icon">
                <img src="./assets/x.png" alt="x">
            </div>
        </div>
        <div class="copyright">
            © 2024 ÖC Universitet
        </div>
    </div>
</div>
