<div class="container">
    <img src="./assets/Startsida.jpg" alt="Två studenter som programmerar i ett rum" class="image">
    <div class="text"><h2>Välkomna till Sveriges bästa universitet!</h2></div>
  </div>
  
  <div class="head-container">
    <h2>ÖC Universitet</h2>

    <article class="head-text">

        <p><em>Vid ÖC Universitet strävar vi efter att vara en banbrytande institution för kunskap och innovation. Med en rik historia av akademisk excellens och ett djupt engagemang för att forma framtidens ledare, är vi stolta över att vara en av de främsta institutionerna för högre utbildning i vårt land.</em><br>
    
        <br><strong>Vår Mission</strong><br>
        <br>Vår mission är att främja kunskap, kreativitet och samhällsengagemang genom högkvalitativ utbildning och forskning. Vi är dedikerade till att utbilda våra studenter inte bara i deras ämnesområden, utan också i att bli kritiska tänkare, globala medborgare och innovativa problemlösare.<br>
        
        <br><strong>Akademiska Program</strong><br>
        <br>På ÖC Universitet erbjuder vi ett brett utbud av akademiska program inom humaniora, naturvetenskap, samhällsvetenskap, teknik och affärer. Våra program är utformade för att ge studenter en robust utbildning och förbereda dem för en framgångsrik karriär i en snabbt föränderlig global miljö.<br>
        
        <br><strong>Forskning och Innovation</strong><br>
        <br>Vi främjar banbrytande forskning och innovation som syftar till att lösa samhällets största utmaningar och främja hållbar utveckling. Vår forskning är mångsidig och spänner över olika discipliner, vilket ger våra forskare och studenter möjlighet att bidra till nya insikter och upptäckter.<br>
        
        <br><strong>Campusliv</strong><br>
        <br>ÖC Universitet är inte bara en plats för studier utan också en levande gemenskap där studenter, fakultet och personal interagerar och växer tillsammans. Vårt campus är utformat för att främja en stimulerande akademisk miljö, samtidigt som det erbjuder en mängd aktiviteter och resurser för att stödja personlig och professionell utveckling.<br>
        
        <br><strong>Globalt Perspektiv</strong><br>
        <br>Vi värdesätter mångfald och globalt perspektiv och strävar efter att främja internationellt samarbete och utbyte. Genom våra globala partnerskap och utbytesprogram erbjuder vi våra studenter möjligheter att utforska nya kulturer, språk och idéer, vilket förbereder dem för en globaliserad värld.<br>
        
        <br><strong>Framtiden</strong><br>
        <br>På ÖC Universitet är vi fast beslutna att fortsätta vara ledare inom utbildning och forskning och att forma en hållbar och inkluderande framtid för alla. Vi välkomnar dig att utforska allt vad vi har att erbjuda och att bli en del av vår dynamiska gemenskap.<br>
        
        <br><strong>Välkommen till ÖC Universitet, där kunskap möter framtid!</strong></p>
    </article>    
    <mat-form-field appearance="fill">
      <mat-label>Filtrera kurser</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Sök kurs">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Välj ämne</mat-label>
      <mat-select (selectionChange)="onSubjectChange($event.value)">
        <mat-option *ngFor="let subject of subjects" [value]="subject">
          {{ subject }}
        </mat-option>
        <mat-option value="">Alla ämnen</mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="courseName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-courseName"> Kursnamn </th>
          <td mat-cell *matCellDef="let course" class="mat-column-courseName"> {{course.courseName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="courseCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-courseCode"> Kurskod </th>
          <td mat-cell *matCellDef="let course" class="mat-column-courseCode"> {{course.courseCode}} </td>
        </ng-container>
  
        <ng-container matColumnDef="subjectCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-subjectCode"> Ämneskod </th>
          <td mat-cell *matCellDef="let course" class="mat-column-subjectCode"> {{course.subjectCode}} </td>
        </ng-container>
  
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-level"> Nivå </th>
          <td mat-cell *matCellDef="let course" class="mat-column-level"> {{course.level}} </td>
        </ng-container>
  
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-points"> Poäng </th>
          <td mat-cell *matCellDef="let course" class="mat-column-points"> {{course.points}} </td>
        </ng-container>
  
        <ng-container matColumnDef="institutionCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-institutionCode"> Institutionskod </th>
          <td mat-cell *matCellDef="let course" class="mat-column-institutionCode"> {{course.institutionCode}} </td>
        </ng-container>
  
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-subject"> Ämne </th>
          <td mat-cell *matCellDef="let course" class="mat-column-subject"> {{course.subject}} </td>
        </ng-container>
  
        <ng-container matColumnDef="syllabus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-syllabus"> Kursplan </th>
          <td mat-cell *matCellDef="let course" class="mat-column-syllabus">
            <a [href]="course.syllabus" target="_blank">Länk</a>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="addCourse">
          <th mat-header-cell *matHeaderCellDef> Lägg till </th>
          <td mat-cell *matCellDef="let course">
            <button id="mat-button" mat-button (click)="addCourseToLocalStorage(course)">Spara</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
      
  

  