.outer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    margin-top: 70px;
}

.text {
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    animation: moveUp 1s;

}

h2 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 300;
}

@keyframes moveUp {
    0% {
        top: 55%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;

    }
}

.head-container {
    width: 100%;
    height: auto;
    background-color: #ffedfa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-container h2 {
    text-align: center;
    margin-top: 20px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 300;

}

.head-text-container {
    display: flex;
    justify-content: center;


}

.head-text {
    display: flex;
    max-width: 600px;
    padding: 0 30px;
    margin-top: 10px;
    line-height: 140%;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 100;

}

.article-tre {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.article-tre-in {
    min-height: 400px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border: 0.5px solid rgb(200, 200, 200);
    line-height: 140%;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 100;
    cursor: pointer;
}

.article-tre-in h2 {
    line-height: 140%;
    font-family: "Roboto", sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    text-align: left;
}

.article-image {
    width: 100%;
    height: auto;
}

.panel-flex {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 1em;

}

.expansion-panel {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 580px;
    padding: 20px 30px;
    line-height: 140%;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 100;
    background-color: #fef5ea;

}

.student-info {
    width: 100%;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    background-color: #ffedfa;
    padding: 20px 50px;
    justify-content: center;
    line-height: 140%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.text-under-panel {
    width: 100%;
    background-color: white;
}

.expansion-panel-under {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    line-height: 140%;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    background-color: white;

}

.mat-elevation-z8 {
    overflow-y: hidden;

}

#mat-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fb9fe1;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;

}

#mat-button:hover {
    background-color: #fc63d1;
}

.lank {
    color: #fb9fe1;
}

.lank:hover {
    color: #fc63d1;
}


.mat-form {
    display: flex;
    background-color: white;
    gap: 10px;
    justify-content: center;
    padding-top: 20px;


}

@media (max-width: 760px) {

    .mat-column-subjectCode,
    .mat-column-level,
    .mat-column-institutionCode,
    .mat-column-syllabus {
        display: none;
    }
}