<div class="outer-container">

  <div class="container">
    <img src="./assets/Startsida.jpg" alt="Två studenter som programmerar i ett rum" class="image">
    <div class="text">
      <h2>Välkomna till Sveriges bästa universitet!</h2>
    </div>
  </div>

  <div class="head-container">
    <h2>ÖC Universitet</h2>
    <div class="head-text-container">
      <article class="head-text">

        <p><em>Vid ÖC Universitet strävar vi efter att vara en banbrytande institution för kunskap och innovation. Med
            en
            rik historia av akademisk excellens och ett djupt engagemang för att forma framtidens ledare, är vi stolta
            över
            att vara en av de främsta institutionerna för högre utbildning i vårt land.</em><br><br>
      </article>
    </div>
    <div class="article-tre">

      <div class="article-tre-in">
        <img src="./assets/universitet.jpg" alt="ÖC Universitet" class="article-image" loading="lazy">
        <div class="article-text">
          <h2><U>ÖC Universitet</U></h2>
          <p>Sök till olika kurser på ÖC universitet, sista datum för ansökan är 2024-08-19.</p>
        </div>
      </div>
      <div class="article-tre-in">
        <img src="./assets/oppethus.jpg" alt="Stor sal på ÖC Universitet" class="article-image" loading="lazy">
        <div class="article-text">
          <h2><U>Öppet hus!</U></h2>
          <p>Den 5e september håller ÖC universitet öppet hus! Välkomna</p>
        </div>
      </div>
      <div class="article-tre-in">
        <img src="./assets/elever.jpg" alt="studenter som sitter på gräsmatta" class="article-image" loading="lazy">
        <div class="article-text">
          <h2><U>Nöjda studenter!</U></h2>
          <p>Studenter på ÖC universitet trivs, efter en ny undersökning som gjorts av staten visar att ÖC universitet
            har
            de nöjdaste studerna i Sverige.</p>
        </div>
      </div>
    </div>
    <div class="panel-flex">
      <div class="student-info-back">

        <div class="student-info">
          <h2>{{totalCourses}} Kurser</h2>
          <p>På vår skola erbjuder vi ett omfattande utbud av utbildningsmöjligheter med totalt {{totalCourses}} kurser tillgängliga för våra studenter.<br>
            Vårt breda kursutbud speglar vår ambition att tillgodose olika intressen och karriärmål, och vi är stolta över att kunna erbjuda något för alla.<br>
  
            <br>Våra kurser täcker en mängd olika ämnesområden, från humaniora och samhällsvetenskap till naturvetenskap, teknik och affärer. 
            Vi strävar efter att ge våra studenter en robust och mångsidig utbildning som förbereder dem för framgångsrika karriärer i en snabbt föränderlig global miljö.<br>
            
            <br>Vi är engagerade i att främja kunskap, kreativitet och samhällsengagemang genom högkvalitativ utbildning och forskning. 
            Vårt mål är att inte bara utbilda våra studenter i deras specifika ämnesområden, 
            utan också att hjälpa dem att bli kritiska tänkare, globala medborgare och innovativa problemlösare.<br>
            
            <br>Med våra {{totalCourses}} kurser är vi säkra på att du kommer att hitta den perfekta kombinationen av ämnen som passar dina intressen och framtida karriärplaner. Vi välkomnar dig att utforska allt vi har att erbjuda och bli en del av vår dynamiska och stödjande akademiska gemenskap.</p>
        </div>
  
  
      </div>
      <div class="expansion-panel-back">

      <div class="expansion-panel">

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Vår Mission
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Vår mission är att främja kunskap, kreativitet och samhällsengagemang genom högkvalitativ utbildning och
              forskning. Vi är dedikerade till att utbilda våra studenter inte bara i deras ämnesområden, utan också i
              att
              bli kritiska tänkare, globala medborgare och innovativa problemlösare.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Akademiska Program
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>På ÖC Universitet erbjuder vi ett brett utbud av akademiska program inom humaniora, naturvetenskap,
              samhällsvetenskap, teknik och affärer. Våra program är utformade för att ge studenter en robust utbildning
              och
              förbereda dem för en framgångsrik karriär i en snabbt föränderlig global miljö.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Forskning och Innovation
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Vi främjar banbrytande forskning och innovation som syftar till att lösa samhällets största utmaningar
              och
              främja hållbar utveckling. Vår forskning är mångsidig och spänner över olika discipliner, vilket ger våra
              forskare och studenter möjlighet att bidra till nya insikter och upptäckter.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Campusliv
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>ÖC Universitet är inte bara en plats för studier utan också en levande gemenskap där studenter, fakultet
              och
              personal interagerar och växer tillsammans. Vårt campus är utformat för att främja en stimulerande
              akademisk
              miljö, samtidigt som det erbjuder en mängd aktiviteter och resurser för att stödja personlig och
              professionell
              utveckling.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Globalt Perspektiv
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Vi värdesätter mångfald och globalt perspektiv och strävar efter att främja internationellt samarbete och
              utbyte. Genom våra globala partnerskap och utbytesprogram erbjuder vi våra studenter möjligheter att
              utforska
              nya kulturer, språk och idéer, vilket förbereder dem för en globaliserad värld.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Framtiden
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>På ÖC Universitet är vi fast beslutna att fortsätta vara ledare inom utbildning och forskning och att
              forma
              en hållbar och inkluderande framtid för alla. Vi välkomnar dig att utforska allt vad vi har att erbjuda
              och
              att bli en del av vår dynamiska gemenskap.</p>
          </mat-expansion-panel>
        </mat-accordion>


      </div>
      </div>
</div>

    <article class="expansion-panel-under">

      <p> <br><strong>Välkommen till ÖC Universitet, där kunskap möter framtid!</strong></p>
    </article>
    <div class="mat-form">

      <mat-form-field class="filter white-input" appearance="fill">
        <mat-label>Filtrera kurser</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Sök kurs">
      </mat-form-field>

      <mat-form-field class="filter white-input" appearance="fill">
        <mat-label>Välj ämne</mat-label>
        <mat-select (selectionChange)="onSubjectChange($event.value)">
          <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{ subject }}
          </mat-option>
          <mat-option value="">Alla ämnen</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="courseName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-courseName"> Kursnamn </th>
          <td mat-cell *matCellDef="let course" class="mat-column-courseName"> {{course.courseName}} </td>
        </ng-container>

        <ng-container matColumnDef="courseCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-courseCode"> Kurskod </th>
          <td mat-cell *matCellDef="let course" class="mat-column-courseCode"> {{course.courseCode}} </td>
        </ng-container>

        <ng-container matColumnDef="subjectCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-subjectCode"> Ämneskod </th>
          <td mat-cell *matCellDef="let course" class="mat-column-subjectCode"> {{course.subjectCode}} </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-level"> Nivå </th>
          <td mat-cell *matCellDef="let course" class="mat-column-level"> {{course.level}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-points"> Poäng </th>
          <td mat-cell *matCellDef="let course" class="mat-column-points"> {{course.points}} </td>
        </ng-container>

        <ng-container matColumnDef="institutionCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-institutionCode"> Institutionskod
          </th>
          <td mat-cell *matCellDef="let course" class="mat-column-institutionCode"> {{course.institutionCode}} </td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-subject"> Ämne </th>
          <td mat-cell *matCellDef="let course" class="mat-column-subject"> {{course.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="syllabus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-syllabus"> Kursplan </th>
          <td mat-cell *matCellDef="let course" class="mat-column-syllabus">
            <a class="lank" [href]="course.syllabus" target="_blank">Länk</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="addCourse">
          <th mat-header-cell *matHeaderCellDef> Lägg till </th>
          <td mat-cell *matCellDef="let course">
            <button id="mat-button" mat-button (click)="addCourseToLocalStorage(course)"
              [disabled]="isCourseStored(course)">Spara</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>